$app-bg-collor-light: white;
$app-text-collor-light: black;

$app-bg-collor-dark: black;
$app-text-collor-dark: white;

body{
    background-color: #c1c1c1;
    color:#555454;
}
.app{
    
    &.light{
        background-color: $app-bg-collor-light;
        color: $app-text-collor-light;
    }

    &.dark{
        background-color: $app-bg-collor-dark;
        color: $app-text-collor-dark;
    }
}

.app-header{
    padding:20px;
    text-align: center;
    background-color: lighten($app-bg-collor-dark, 10%);
}